.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  max-width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  transition: transform 0.25s ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.05);
}
