input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 32px;
  margin-right: 8px;

  transition:
    border-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

input:hover {
  border-color: #000000;
}

input:focus {
  outline: none;
  border-color: #4e75ff;
  box-shadow: none;
}

input:disabled {
  border-color: #808080;
  color: #808080;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

/* -------------------------------------------- */

.flatpickr-calendar.open {
  border-radius: 80px !important;
}

.dayContainer {
  background-color: #f5f5f5;
}

.flatpickr-months {
  background-color: #f5f5f5;
}

.flatpickr-weekdays {
  background-color: #f5f5f5;
}

.flatpickr-day {
  color: #666;
  background-color: #f5f5f5;
}

.flatpickr-day:hover {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}

.flatpickr-day.selected {
  background-color: #4e75ff;
  border-color: #4e75ff;

  transition: background-color 250ms ease-in-out;
}

.flatpickr-day.selected:hover {
  background-color: #4e75ff;
  border-color: #4e75ff;
}

.flatpickr-day.today {
  border-color: #4e75ff;
}

.flatpickr-day.today:hover {
  border-color: #4e75ff;
  background-color: transparent;
  color: #666;
}

.flatpickr-time {
  background-color: #f5f5f5;

  font-size: 16px;
  color: #333;
}
.flatpickr-time input {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.flatpickr-time input.flatpickr-minute {
  font-weight: 600;
}
